<%- include('header'); -%>

<h1>this is the about page</h1>
<p>made by riya jain</p>
<p>
  lijfhiosdlfhjwyo8fewthu8 oretj lierutjlret9u wejklrau9rjopqa90urqi
  oru90wetewu80trwljituo8retl kngrdou8grelgreou8yt8urejklteu8ogre
  uoterjyu8etjnygdthugurek
</p>
<%- include('footer'); -%>
